<%- include('./partial_imports/import_above_content.ejs', { Title: "Blank", PageAddr: 'blank' } ) %>
<p>Content</p>
<a href="#" onclick="navigateTo('chart')">Chart</a>
<%- include('./partial_imports/import_below_content.ejs') %>

