<%- include('./import_above_content.ejs', { Title: "Chart", PageAddr: 'chart' } ) %>
<div class="col-lg">
	<div class="content-panel">
		<h4><i class="fa fa-angle-right"></i> Line</h4>
		<div class="panel-body text-center">
			<canvas id="line"  ></canvas>
		</div>
	</div>
</div>
<%- include('./import_below_content.ejs', { renderChartJS: true  } ) %>
