<%- include('./import_above_content.ejs', { Title: "Intrusion Detection System" } ) %>


<!-- BASIC FORM ELELEMNTS -->
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
        <h4 class="mb"><i class="fa fa-angle-right"></i> Device Properties</h4>
        <form class="form-horizontal style-form" method="get">
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">UART:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="uart_select">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Input Data</label>
                <div class="col-sm-10">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                    <span class="btn btn-theme02 btn-file">
                        <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select file</span>
                    <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                    <input type="file" class="default" id="input_fileupload" />
                    </span>
                    <span class="fileupload-preview" style="margin-left:5px;"></span>
                    <a href="advanced_form_components.html#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label">Output Data</label>
                <div class="col-sm-10">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                    <span class="btn btn-theme02 btn-file">
                        <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select file</span>
                    <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                    <input type="file" class="default" id="output_fileupload" />
                    </span>
                    <span class="fileupload-preview" style="margin-left:5px;"></span>
                    <a href="advanced_form_components.html#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-theme" id="btn_submit">Submit</button>
                </div>
            </div>


        </form>
        </div>
    </div>
    <!-- col-lg-12-->
</div>
<!-- /row -->


<%- include('./import_below_content.ejs') %>

<script type="text/javascript">

    const electron = require('electron');
    const { ipcRenderer } = electron;

    $(document).ready(function() {

        const querystring = require('querystring');
        let query = querystring.parse(global.location.search);
        let ports = JSON.parse(query['?ports']);
        ports.forEach(function(port){
            $("#uart_select").append(new Option(port['path'], port['path']));
        });

        $("#btn_submit").click((event) => {
            event.preventDefault();
            var input_files = $("#input_fileupload").prop('files');
            var output_files = $("#output_fileupload").prop('files');
            
            var uart = $("#uart_select").val();

            if(input_files.length > 0 && output_files.length > 0) {
                const input_path = input_files[0]['path'];
                const output_path  = output_files[0]['path'];
                ipcRenderer.send('data:submit', input_path, output_path, uart);
            }
            
            
        });

    });
</script>
