<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./import_title.ejs') %>
</head>

<body>
  <section id="container">
		<%- include('./import_header.ejs') %>
    <%- include('./import_sidebar.ejs') %>
    <section id="main-content">
      <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> <%= Title %></h3>
        <div class="row mt">
          <div class="col-lg-12">
