          </div>
        </div>
      </section>
    </section>
    <%- include('./import_footer.ejs') %>  
  </section>
  <%- include('./import_footer_js.ejs', 
      { renderChartJS: (typeof renderChartJS  !== 'undefined') ?  renderChartJS  : false } ) %>

</body>

</html>
